.chat-button{
        width: 20px; 
        height: 20px; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;         
        border-right:10px solid blue; 
        margin-right: 15px;
      
}

.chat-input{
}